.about-me-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 10px 100px 10px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}


.about-img {
    background-image: url("./jonathan_pic.jpg");
    background-size: cover;
    height: 20rem;
    width: 20rem;
    border-radius: 50% 20% / 10% 40%;
    margin: 30px;
}

.about-txt {
    margin: 30px;
    width: 50%;
    line-height: 1.5;
}

.about-txt > h2 {
    font-family: "Caveat";
    font-size: 2.5rem;
}

.contact-btn {
    color: black;
    padding: 6px 12px;
    background-color: rgba(251, 70, 37, 0.3);
    border: 3px solid rgba(251, 70, 37, 0.7);
    transition: 0.3s;
    border-radius: 5px;
    display: block;
    margin-top: 15px;
  }
  
.contact-btn:hover {
    background-color: rgba(251, 70, 37, 0.75);
    border: 3px solid rgba(251, 70, 37, 0.6);
    transition: 0.3s;
  }

@media only screen and (max-width: 700px) {
    .about-me-outer {
        flex-direction: column;
    }

    .about-txt {
        width: 80%;
    }
}
