.contact-section {
    text-align: center;
    background-color: rgba(10, 15, 20, 0.65);
    background-image: url("./fence.jpg");
    background-size: cover;
    padding: 7%;
    font-size: 1.1rem;
}

.white-wrapper-contact { 
    background-color: rgba(255, 255, 255, 0.85);
    padding: 3.5%;
}

.white-wrapper-contact > a {
    text-decoration: underline;
    color: rgba(251,70,37,0.9);
    margin-top: 10px;
    font-weight: normal;
    padding: 0;
}

@media only screen and (max-width: 500px) {
    .contact-section {
        padding: 80px 25px;
    }
}