.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square-img {
    height: 100%;
    width: 100%;
}

.individual-img-wrapper {
    width: 21%;
    margin: 10px;
}

.gallery-txt {
    height: 50px;
    margin: 10px;
}

.gallery-header {
    text-align: center;
    font-family: "Caveat";
    font-size: 2.5rem;
}

@media only screen and (max-width: 700px) {
    .square-img {
        height: 80%;
        width: 80%;
    }
    .individual-img-wrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}